
*{margin:0; padding:0;}

li {list-style:none;}
a {text-decoration:none; color:#000;}

#notice {width:1000px; height:500px; margin:0 auto;}

.notice {width:800px; margin:0 auto;}


.con,.con_up {width:800px; margin:0 auto; height:40px; overflow:hidden;}

.con:hover {background-color:#e1e1e1;}



.con_up {background-color:#E4EAF8;}

.number,.where,.text,.who,.when,.view {float:left;
										line-height:40px; text-align:center; font-size:12px; color:#444;}

.number {width:60px; font-weight:bold; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.where {width:235px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.text {width:235px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.who {width:90px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.when {width:120px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.view {width:60px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}


.con_02,.con_04,.con_06,.con_08 {background-color:#F1F1F1;}


.write_but {width:60px; height:25px; background-color:#06C; border-radius:2px;
			font-size:12px; color:white; text-align:center; line-height:25px; margin-left:740px; margin-bottom:10px;}
			


.top {height:26px; overflow:hidden; margin:10px 0;}



h2 {margin:20px 0; margin-left:10px;}